@media (max-width: 600px) {
    .terms span {
        display: block;
        margin-top: 10px;
    }
}

@media (max-width: 450px) {
    .banner-content h2 {
        font-size: 2.6rem;
    }

    .shop-btn {
        padding: 1rem 2rem;
    }
}